**/.git
**/.gitignore
**/.vs
**/.vscode
**/node_modules
**/.next
**/bin
**/obj
**/.env
**/.env.local
**/.env.*.local
**/docker-compose*.yml
**/Dockerfile*
**/.dockerignore
**/README.md
**/tech_stack.md
**/md.md

